doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
  body
    nav(class='navbar navbar-inverse navbar-fixed-top')
      div.container-fluid
        div.navbar-header
          a(class="navbar-brand" href="./")
            button(type="button" class="btn btn-default btn-lg")
              span(class="glyphicon glyphicon-copy" aria-hidden="true") Home
    block content
